apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: frontend-tls-cert
  namespace: default
spec:
  secretName: frontend-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - frontend.tripico.fun