name: docker-ghcr

on:
  push:
    branches: [  "feature/exercise5-iaas" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: Pipeline
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            VITE_API_BASE_URL=https://tripico.duckdns.org/api
            VITE_FIREBASE_PROJECT_ID=${{ vars.VITE_FIREBASE_PROJECT_ID_2 }}
            VITE_FIREBASE_AUTH_DOMAIN=${{ vars.VITE_FIREBASE_AUTH_DOMAIN_2 }}
            VITE_FIREBASE_API_KEY=${{ vars.VITE_FIREBASE_API_KEY_2 }}
          tags: |
            ghcr.io/${{ github.repository }}:iaas-latest
            ghcr.io/${{ github.repository }}:iaas-${{ github.sha }}
